.checkbox-style {
  display: block !important;
  margin: 1rem 0;
}

.border-it {
  border: 1px solid black;
}

.center-it {
  display: flex;
  justify-content: center;
}

.filter-options {
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  flex: 2;
  background-color: aliceblue;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
}

.stats-row {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  /* background-color: aliceblue; */
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  flex: 3;
}

@media (max-width: 1087px) {
  /* mobile styles */
  /* Filter slide stuff */

  @keyframes slideinfilter {
    from {
      right: -110%;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideoutfilter {
    from {
      right: 0;
    }
    to {
      right: -110%;
    }
  }

  .filter-opened {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;
    border-radius: unset;

    animation-name: slideinfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .filter-closed {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;
    border-radius: unset;

    animation-name: slideoutfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .stats-row {
    width: 100%;
    margin: unset;
    padding: unset;
  }
}
