.checkbox-style {
  display: block !important;
  margin: 1.5rem 0;
}

.border-top-tag {
  border-top: 4px solid salmon;
}

.border-top-tag2 {
  border-top: 4px solid greenyellow;
}

.border-top-avg {
  border-top: 5px solid lime;
}

.border-top-total {
  border-top: 5px solid fuchsia;
}

.sea-green-text {
  color: #93dfb8;
}

.blizzard-blue-text {
  color: #50bfe6;
}

.screaming-green-text {
  color: #66ff66;
}

.shocking-pink-text {
  color: #ff6eff;
}

.lime-text {
  color: lime;
}

.fuchsia-text {
  color: fuchsia;
}

.aqua-text {
  color: aqua;
}

.electric-lime-text {
  color: #ccff00;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

.font-light {
  font-weight: lighter;
}

.big-check {
  font-size: 1.3rem;
}

.score-card-style {
  margin: 1rem 0;
  padding: 1rem;
}

.card-header-style {
  padding: 1rem;
}

.border-it {
  border: 1px solid black;
}

.center-it {
  display: flex;
  justify-content: center;
}

.filter-options {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px black;
}

@media (max-width: 1087px) {
  /* mobile styles */
  /* Filter slide stuff */

  @keyframes slideinfilter {
    from {
      right: -110%;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideoutfilter {
    from {
      right: 0;
    }
    to {
      right: -110%;
    }
  }

  .filter-opened {
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;

    animation-name: slideinfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .filter-closed {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;

    animation-name: slideoutfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .stats-row {
    width: 100%;
    margin: unset;
    padding: unset;
  }
}
