.checkbox-style {
  display: block !important;
  margin: 1rem 0;
}

.score-card-style {
  margin: 1rem 0;
  padding: 1rem;
}

.card-header-style {
  padding: 1rem;
}

.border-it {
  border: 1px solid black;
}

.center-it {
  display: flex;
  justify-content: center;
}

.filter-options {
  margin: 1.2rem 2rem;
  max-height: 125px;
  max-width: 800px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px black;
}

.filter-wrapper {
  padding: 1rem;
  background-color: #666;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.stats-row {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

@media (max-width: 1087px) {
  /* mobile styles */
  /* Filter slide stuff */

  @keyframes slideinfilter {
    from {
      right: -110%;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideoutfilter {
    from {
      right: 0;
    }
    to {
      right: -110%;
    }
  }

  .filter-opened {
    overflow: auto;
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;

    animation-name: slideinfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .filter-closed {
    position: fixed;
    bottom: 0;
    width: 100vw !important;
    height: 80vh !important;
    margin: unset !important;

    animation-name: slideoutfilter;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .stats-row {
    width: 100%;
    margin: unset;
    padding: unset;
  }
}
